.section_two
    .container
        .wrapper
            .container_section_menu
                .container_section_menu_top
                    .container_date
                    .container_time
                .container_section_menu_buttom
                    ul.container_tabs
                        li.section_two_tabs.js-tab-trigger.active(data-tab="1")
                            i.fas.fa-plus-circle
                            span add task
                        li.section_two_tabs.js-tab-trigger(data-tab="2")
                            i.fas.fa-calendar-alt
                            span.section_two_tabs_title toDo task
                            span.section_two_tabs_task_counter 0
                        li.section_two_tabs.js-tab-trigger(data-tab="3")
                            i.fas.fa-calendar-check
                            span.section_two_tabs_title completed task
                            span.section_two_tabs_task_counter 0
                        li.section_two_tabs.js-tab-trigger(data-tab="4")
                            i.fas.fa-calendar-times
                            span.section_two_tabs_title expired task
                            span.section_two_tabs_task_counter 0
            .container_section_task_dashboard
                .container_section_task_dashboard_header
                    h2 toDo list
                .tab_content
                    .tabs_dashboard.js-tab-content.active(data-tab="1")
                        div.tabs_dashboard_list_card 
                            h3 add new task
                            label.tabs_dashboard_list_card_title(for="new_title")
                                h4 title
                            textarea(type="text")#new_title
                            p.text-counter 
                                span used&nbsp;
                                span.char-counter 0&nbsp;
                                span / 30
                            label.tabs_dashboard_list_card_description(for="new_task")
                                h4 description task
                            textarea(type="text")#new_task
                            .date_completion 
                                p select due date or leave blank
                                .date_field_container
                                    span.date_field
                                button.add_btn.task_counter add task
                            .clendar_container.calendar_card
                                .calendar_header
                                    i.fas.fa-arrow-left
                                    span.calendar_month_year
                                    i.fas.fa-arrow-right
                                .calendar_dates
                    .tabs_dashboard.js-tab-content(data-tab="2")
                        .container_todo.container_item
                            h3 todo task
                            div.incompleted_tasks.task_dashboard 
                    .tabs_dashboard.js-tab-content(data-tab="3")
                        .container_completed.container_item
                            h3 completed task
                            div.completed_tasks.task_dashboard 
                    .tabs_dashboard.js-tab-content(data-tab="4")
                        .container_expired.container_item
                            h3 expired task
                            div.expired_tasks.task_dashboard 
        
