.section_two
    .wrapper
        .container
            .container_section_menu
                .container_section_menu_top
                    .container_date
                    .container_time
                .container_section_menu_buttom
                    ul.container_tabs
                        li.section_two_tabs.js-tab-trigger.active
                            i.fas.fa-plus-circle(data-tab="1")
                            span add task
                        li.section_two_tabs.js-tab-trigger.active
                            i.fas.fa-calendar-alt(data-tab="2")
                            span ToDo task
                        li.section_two_tabs.js-tab-trigger.active
                            i.fas.fa-calendar-check(data-tab="3")
                            span completed task
                        li.section_two_tabs.js-tab-trigger.active
                            i.fas.fa-calendar-times(data-tab="4")
                            span expired task
            .container_section_task_dashboard
                
                    