table#calendar3.calendar_card
                            thead
                                tr
                                    td(colspan='4')
                                        select
                                            option(value='0') Январь
                                            option(value='1') Февраль
                                            option(value='2') Март
                                            option(value='3') Апрель
                                            option(value='4') Май
                                            option(value='5') Июнь
                                            option(value='6') Июль
                                            option(value='7') Август
                                            option(value='8') Сентябрь
                                            option(value='9') Октябрь
                                            option(value='10') Ноябрь
                                            option(value='11') Декабрь
                                    td(colspan='3')
                                        input(type='number', value='', min='0', max='9999', size='4')
                                tr
                                    td Пн
                                    td Вт
                                    td Ср
                                    td Чт
                                    td Пт
                                    td Сб
                                    td Вс
                            tbody