/* ----------- Media ---------------*/
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}
@media screen and (max-width: 680px) {
    .task_card {
        flex-wrap: wrap;
        input[type="checkbox"] {
          flex: 1 1 5%;
        }
        .block_text_description {
          flex: 1 1 95%;
        }
        .button_item {
          flex: 1 1 100%;
          flex-direction: row !important;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          .edit{
            margin-right: 10px;
          }
          .edit,
          .delete {
            flex: 1 1 40%;
            max-width: 100px;
          }
        }
      }
}
@media screen and (max-width: 640px) {
  .section_two{
    .container{
      overflow: hidden;
        width: 200vw;
        max-width: 1280px;
      .wrapper{
        
        .container_section_menu {
          flex: 1 1 100%;
          max-width: 640px;
        }
        .container_section_task_dashboard{
          flex: 1 1 100%;
          max-width: 640px;
        }
      }
    }
  }
 
  .task_card {
      flex-wrap: wrap;
      input[type="checkbox"] {
        flex: 1 1 5%;
      }
      .block_text_description {
        flex: 1 1 95%;
      }
      .button_item {
        flex: 1 1 100%;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .edit{
          margin-right: 10px;
        }
        .edit,
        .delete {
          flex: 1 1 40%;
          max-width: 100px;
        }
      }
    }
}

@media screen and (max-width: 480px) {
  


}

@media screen and (max-width: 320px) {

}
