.section_two{
    .container{
        .wrapper{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: calc(10px + 1vw);
            width: 100%;
            min-width: 300px;
            background-image: url(/img/86066ddc.png);
        }
    }
}
.container_section_menu{
    flex: 1 1 20%;
    min-width: 200px;
    .container_section_menu_top{
        .container_date,
        .container_time{
          
      }
    }
    .container_section_menu_buttom{
        .container_tabs{
            .section_two_tabs{
                i{

                }
                span{

                }
            }
            .active{

            }
        }
        
    }
}
.container_section_task_dashboard{
    flex: 1 1 70%;
    min-width: 200px;
    .container_section_task_dashboard_header{

    }
    .tab_content{
      .tabs_dashboard{
          .tabs_dashboard_list_card{
              h3{

              }
              .tabs_dashboard_list_card_title{
                  h4{

                  }
              }
              #new_title{

              }
              .tabs_dashboard_list_card_description{
                  h4{

                  }
              } 
              #new_task{

              }  
              .add_btn{
                  i{

                  }
              }
          }
      }  
    }
}