.section_two{
    
    .container{
        .wrapper{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: unset;
            width: 100%;
            height: 100vh;
            min-width: 300px;
            background-image: url(/img/86066ddc.png);
        }
    }
}
.container_section_menu{
    flex: 1 1 25%;
    min-width: 320px;
    padding: calc(10px + 1vw);
    .container_section_menu_top{
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgba(8, 1, 136, 0.701);
        .container_date,
        .container_time{
            font-family: 'MontserratBold';
            font-size: calc(10px + 0.5vw);
            text-transform: uppercase;
            text-align: center;
            color: rgba(120, 120, 120, 1);
            font-weight: 700;
      }
    }
    .container_section_menu_buttom{ 
        padding: calc(10px + 1vw) 0;
        .container_tabs{
            .section_two_tabs{
                display: flex;
                flex-direction: row;
                flex-wrap: unset;
                align-items: center;
                justify-content: flex-start;
                padding: 10px 0;
                margin-bottom: 5px;
                transition: all .5s ease-in-out;
                cursor: pointer;
                i{
                padding-left: 20px;
                padding-right: calc(10px + 1vw);
                font-size: calc(15px + 1vw);
                }
                .fa-plus-circle, 
                .fa-plus-circle ~ span {
                color: rgb(0, 17, 255);   
                }
                .fa-calendar-alt,
                .fa-calendar-alt ~ span{
                    color: rgba(159, 109, 2, 1);
                }
                .fa-calendar-check,
                .fa-calendar-check ~ span {
                    color: rgb(2, 193, 94);
                }
                .fa-calendar-times,
                .fa-calendar-times ~ span{
                    color: rgba(176, 4, 4, 0.975);
                }
                span{
                font-size: calc(10px + .6vw);
                font-family: 'MontserratBold';
                text-transform: capitalize;
                color: rgba(120, 120, 120, 1);
                }   
            }
            .active{
                background-color: rgba(120, 120, 120, .3);
                border-radius: 10px;
            }
        }
        
    }
}
.container_section_task_dashboard{
    flex: 1 1 75%;
    min-width: 320px;
    background-image: url(/img/AddTask.png);
    background-size: cover;
    background-position: top center;
    height: 100%;
    padding: calc(10px + 1vw);
    border-left: 1px solid rgba(255, 255, 255, 0);
    z-index: 99;   
    
    .container_section_task_dashboard_header{
        height: 10vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 2px solid rgba(255, 255, 255, 1);
        h2{
            font-family: 'MontserratBold';
            font-size: calc(20px + 1vw);
            text-transform: capitalize;
            text-align: center;
            color: rgba(255, 255, 255, 1);   
            text-shadow: 0 0 10px rgba(0, 0, 0, 1);
        }
    }
    .tab_content{
      position: relative;
      width: 100%;
      height: 90%;
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: scroll;
      .tabs_dashboard{
        width: 100%;
        height: 85vh;
        padding: calc(10px + 1vw) 0;
        display: none;
        margin-top: -1px;
          .tabs_dashboard_list_card{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: calc(10px + 1vw);
            border-radius: 10px;  
            background-color: rgba(255, 255, 255, .7);
              h3{
                width: 100%;
                font-family: 'MontserratBold';
                font-size: calc(10px + 1vw);
                text-transform: capitalize;
                text-align: center;
                margin-bottom: calc(10px + .5vw);
                padding: 10px 0;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 10px;
                color: rgb(0, 17, 255); 
              }
              .tabs_dashboard_list_card_title{
                  h4{
                    width: 100%;
                    font-family: 'MontserratBold';
                    font-size: calc(10px + .6vw);
                    text-transform: capitalize;
                    margin-bottom: 5px;
                    color: rgb(97, 97, 97);
                    padding-left: 10px; 
                  }
              }
              #new_title{
                width: 100%;
                height: 30px;
                margin-bottom: 3px;
                border: 1px solid rgba(120, 120, 120, 1);
                border-radius: 10px;
                padding: 5px 10px;
                font-family: 'MontserratRegular';
                font-size: calc(10px + .6vw);
                color: rgb(97, 97, 97);
                text-transform: capitalize;
                outline:none;
                resize: none;
              }
              #warning{
                width: 100%;
                margin-bottom: 3px;
                border-radius: 10px;
                padding: 5px 10px;
                font-family: 'MontserratRegular';
                font-size: calc(10px + .6vw);
                text-transform: capitalize;
                outline:none;
                resize: none;
                border: 1px solid rgba(218, 3, 3, 0.954);
                color: rgba(218, 3, 3, 0.954);
              }
              .text-counter{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                padding-right: 20px;
                font-family: 'MontserratBold';
                font-size: calc(5px + .5vw);
                color: rgb(97, 97, 97);
              }
              .warning{
                color: rgba(218, 3, 3, 0.954);
              }
              .tabs_dashboard_list_card_description{
                  h4{
                    width: 100%;
                    font-family: 'MontserratBold';
                    font-size: calc(10px + .6vw);
                    text-transform: capitalize;
                    margin-bottom: 5px;
                    color: rgb(97, 97, 97);
                    padding-left: 10px;
                  }
              } 
              #new_task{
                width: 100%;
                height: calc(100px + 2vw);
                border: 1px solid rgba(120, 120, 120, 1);
                border-radius: 10px;
                padding: 5px 10px;
                font-family: 'MontserratRegular';
                font-size: calc(10px + .6vw);
                color: rgba(120, 120, 120, 1);
                text-transform: capitalize;
                margin-bottom: 20px;
                outline:none;
                resize: none;
              } 
              .date_completion{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                position: relative;
                p{
                  flex: 1 1 100%;
                  font-family: 'MontserratBold'; 
                  font-size: calc(10px + .6vw);
                  color: rgb(97, 97, 97);
                  padding: 0 10px;
                  text-transform: capitalize; 
                  margin-bottom: 5px;
                }
                .date_field{
                  width: auto;
                  max-width: 30%;
                  height: auto;
                  font-family: 'MontserratBold'; 
                  font-size: calc(10px + .6vw);
                  color: rgba(120, 120, 120, 1);
                  padding: 5px 10px;
                  border: 1px solid rgba(120, 120, 120, 1);
                  border-radius: 10px;
                  margin-right: 10px;
                  outline: none;
                  resize: none;
                }
                .calendar_btn{
                  font-family: 'MontserratBold'; 
                  font-size: calc(10px + .6vw);
                  color: rgb(97, 97, 97);
                  padding: 5px 10px;
                  border: 1px solid rgba(120, 120, 120, 1);
                  border-radius: 10px;
                  text-transform: capitalize;
                }
              }
              .add_btn{
                  align-self: flex-end;
                  font-size: calc(10px + 2vw);
                  font-family: 'MontserratBold'; 
                  font-size: calc(10px + .6vw);
                  padding: 5px 10px;
                  border: 1px solid rgba(120, 120, 120, 1);
                  border-radius: 10px;
                  text-transform: capitalize;
                  color: rgb(0, 17, 255);
                  background-color: rgba(255, 255, 255, 1);
                  transition: all .4s ease-in-out; 
                  cursor: pointer; 
                
              }
              .btn_warning{
                background-color: rgb(228, 3, 3);
              }
          }
        .container_item{
          h3{
            width: 100%;
            font-family: 'MontserratBold';
            font-size: calc(10px + 1vw);
            text-transform: capitalize;
            text-align: center;
            margin-bottom: calc(10px + .5vw);
            padding: 10px 0;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 10px;
          }
          .task_dashboard{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            .task_card{
              position: relative;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              background-color: rgba(255, 255, 255, .7);
              padding: calc(10px + 1vw);
              border-radius: 10px;
              margin-bottom: calc(10px + .5vw);
              width: 100%;
              text-align: center;
              input[type="checkbox"]{
                flex: 1 1 5%;
            }
            .block_text_description{
              flex: 1 1 85%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              padding: 10px;
              .input_title{
                width: 100%;
                height: 30px;
                border: 1px solid rgba(120, 120, 120, 1);
                border-radius: 10px;
                font-family: 'MontserratRegular';
                font-size: calc(10px + .6vw);
                color: rgb(97, 97, 97);
                text-transform: capitalize;
                padding: 0 10px;
                outline:none;
                resize: none;
              }
              .input_description{
                width: 100%;
                height: calc(50px + 2vw);
                border: 1px solid rgba(120, 120, 120, 1);
                border-radius: 10px;
                padding: 5px 10px;
                font-family: 'MontserratRegular';
                font-size: calc(10px + .6vw);
                color: rgb(97, 97, 97);
                text-transform: capitalize;
                outline:none;
                margin-bottom: 10px;
                resize: none;
              }
              .input_title{
                margin-bottom: 10px;
              }
              .date_completion{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                position: relative;
                .date_field{
                  width: auto;
                  max-width: 30%;
                  height: 30px;
                  font-family: 'MontserratBold'; 
                  font-size: calc(10px + .6vw);
                  color: rgba(120, 120, 120, 1);
                  padding: 5px 10px;
                  border: 1px solid rgba(120, 120, 120, 1);
                  border-radius: 10px;
                  margin-right: 10px;
                  resize: none;
                  outline: none;
                }
                .calendar_btn{
                  font-family: 'MontserratBold'; 
                  font-size: calc(10px + .6vw);
                  color: rgba(120, 120, 120, 1);
                  padding: 5px 10px;
                  border: 1px solid rgba(120, 120, 120, 1);
                  border-radius: 10px;
                  text-transform: capitalize;
                }
              }
            }
            .button_item{
              flex: 1 1 10%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 10px;
              .edit,
              .delete{
                  padding: 5px;
                  font-family: 'MontserratBold';
                  font-size: 14px;
                  background: transparent;
                  text-transform: capitalize;
                  outline: none;
                  border: 0;
                  cursor: pointer;
                  color: rgba(120, 120, 120, 1);
                  transition: color .4s ease-in-out;
              }
              .edit:hover {
                  color:rgb(55, 97, 0);
              }
              .delete:hover{
                  color:rgb(255, 2, 2);
              }
            }
            }
            .changes{
              .block_text_description{
                .input_title,
                .input_description{
                  color:   rgb(81, 143, 1);
                  font-weight: 800;
                }
            }
            }
            .expired{
              .block_text_description{
                .input_title,
                .input_description{
                  color: rgba(176, 4, 4, 0.975);
                  font-weight: 800;
                }
            }
            }
          }
        }
        .container_todo{
          h3{
            color: rgba(159, 109, 2, 1);
          }
        }
        .container_completed{
          h3{
          color: rgb(2, 193, 94);
          }
        }
        .container_expired{
          h3{
          color: rgba(176, 4, 4, 0.975)
          }
        }
      } 
      .tabs_dashboard{
        .container_item{
          .incompleted_tasks,
          .completed_tasks,
          .expired{
            overflow: scroll;
          }
        }
      }
      .tabs_dashboard.active{
        display: block;
      }
    }
}